name: release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0
      # create github release

      - name: Get Tag Name
        run: echo TAG=${GITHUB_REF##*/} >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
        id: buildx
        with:
          install: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1.9.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v2.7.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64  # linux/386,linux/arm/v7
          push: true
          pull: true
          tags: |
            ghcr.io/vovcharaa/transmission-telegram-bot:latest
            ghcr.io/vovcharaa/transmission-telegram-bot:${{ env.TAG }}

      - name: Install git-chglog
        run: |
          wget -O git-chglog https://github.com/git-chglog/git-chglog/releases/download/0.9.1/git-chglog_linux_amd64
          chmod +x git-chglog

      - name: Generate Changlog
        run: |
          ./git-chglog "$TAG" | node -p 'require("fs").readFileSync(0).toString().trim()
            .split("\n").slice(1).join("\n").trim()' > chglog.md
      - name: Upload Github Release
        run: gh release create "$TAG" -F chglog.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}