name: release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # create github release

      - name: Get Tag Name
        run: echo TAG=${GITHUB_REF##*/} >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Install git-chglog3
        run: |
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          go get -u github.com/git-chglog/git-chglog/cmd/git-chglog
      - name: Generate Changlog
        run: |
          git-chglog "$TAG" | node -p 'require("fs").readFileSync(0).toString().trim()
            .split("\n").slice(1).join("\n").trim()' > chglog.md
      - name: Upload Github Release
        run: gh release create "$TAG" -F chglog.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          pull: true
          tags: |
            ghcr.io/vovcharaa/transmission-telegram-bot:latest
            ghcr.io/vovcharaa/transmission-telegram-bot:${{ env.TAG }}
